.App {
  text-align: center;
}
.arrow:hover{
  transform: translateY(-2px);
  color: red;
  /* background-color: blue; */
}

.my-3{
  margin: 10px auto;
}
.spinner{
  text-align: center;
}
.headline{
  /* margin: 0 auto; */
  text-align: center;
}
.dark{
  color: white;
  background-color: rgb(59, 56, 56);
}
.light{
  color: black;
  background-color: white;
}

.adarsh{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px ,1fr));
  grid-column-gap: 20px;
  margin: 57px 0px 0px 0px;
}

@media only screen and (max-width: 416px)  {
  /* background-color: white; */
  /* .adarsh div{
    
  } */
  .card{
    margin: 10px 13px;
    /* background-color: red; */
  }
}
.adarsh div{
  /* align-items: center; */
  margin: 10px auto;
}


.card{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3); 
}
.card:hover{
  transform: translateY(5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  

} */

